<% content_for :top_content do %>

<div class="col-md-8 col-md-offset-2">
  <div align="center"><%= image_tag "Voyage.png", class: "logo"%></div>
  <p align="center" class="intro-text">
    <em>"Travel does the heart good."</em>
    <br>
    <em>"Created by: Mimammaar"</em>
  </p>

</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag "sunset-plane.png", class: "video"%></div>
    <div class="col-xs-4">
      <%= image_tag "travel.gif", class: "video"%></div>
    <div class="col-xs-4">
      <%= image_tag "travel-industry-air.jpg", class: "video"%></div>
  </div>
</div>
<% end %>
