
<% content_for :top_content do %>
    <div class="col-md-8 col-md-offset-2">
      <div class="logo" align="center"><%= image_tag "Voyage.png" %></div>
     <p class="intro-text">
       "Travel does the heart good."
       <br>
       "Created by: Mimammaar"
     </p>
     <a href="#about" class="btn btn-circle page-scroll">
       <i class="fa fa-angle-double-down animated">
         ::before
       </i>
     </a>
    </div>



<% end %>
